/* Alignments */
.textcenter {
	text-align: center !important;
}

.textright {
	text-align: right !important;
}

.textleft {
	text-align: left !important;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.fa-left {
	margin-right: 10px;
}

.fa-right {
	margin-left: 10px;
}