/* Paddings */
body .no-padding {
	padding: 0;
}

body .no-left-padding {
	padding-left: 0;
}

body .no-right-padding {
	padding-right: 0;
}

.wpex-padding-10 {
	padding: 10px;
}

.wpex-padding-20 {
	padding: 20px;
}

.wpex-padding-30 {
	padding: 30px;
}
