/* Blog Single > Thumbnail */

// @version 4.6

#post-media {
    display: block;
    position: relative;
    margin-bottom: 20px;
    text-align: center;

    img {
        vertical-align: bottom;
        @include box-shadow-fix;
    }

    /* @deprecated in 4.6
    img {
	    display: block;
	    margin: 0 auto;
        width: 100%;
	}*/

}

.post-media-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background: #000;
    background: rgba(0,0,0,0.75);
    color: #fff;
    font-size: 0.923em;
    font-weight: normal;
    text-align: center;

    p {
	    color: #fff;
	    &:last-child {
		    margin: 0
		}
	}

	a {
	    color: #fff;
	    text-decoration: underline;
	}

}
