/*------------------------------------------------------------------
[Page]
-------------------------------------------------------------------*/
#page-featured-img {
	margin-bottom: 40px;

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

}
