# Don't include server files.
.well-known
.user.ini

# Don't include WordPress passwords.
wp-config.php

# Don't include caches.
wp-content/cache

# Don't include user-created uploads.
wp-content/uploads

# Don't include backups, as they could contain sensitive information.
wp-content/updraft
wp-content/aiowps_backups
