/*------------------------------------------------------------------
[Google Map Custom Widget]
-------------------------------------------------------------------*/
.wpex-gmap-widget-embed iframe {
	margin-bottom: 0;
	padding: 0;
	display: block;
	width: 100%;
	border: none;
}
