/*------------------------------------------------------------------
[# Tribe Evevents > Notices]
-------------------------------------------------------------------*/
.tribe-events-notices {
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.077em;
	text-shadow: none;
	padding: 0.6em;
}