/*------------------------------------------------------------------
[# Tribe Evevents > Page Header Subheading]
-------------------------------------------------------------------*/
.single-tribe_events {

	.page-subheading-extra {
		padding-top: 5px;
	}

	.page-subheading-extra > div {
		display: inline-block;
		margin-right: 1.3em;
	}

	.page-subheading .fa {
		margin-right: 0.6em;
	}

}