/*------------------------------------------------------------------
[# Tribe Evevents > Typography]
-------------------------------------------------------------------*/

body #wrap #tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title,
#tribe-events-content .tribe-events-tooltip h4 {
	font-weight: inherit;
	font-weight: 600;
}

#tribe-events-content .tribe-events-tooltip h4 {
	color: inherit;
}