/*------------------------------------------------------------------
[# Tribe Evevents > Widgets]
-------------------------------------------------------------------*/
.tribe-events-list-widget-events {
	
	.tribe-event-title {
		margin: 0 0 5px;
	}

}

.tribe-events-list-widget {

	ol li {
		margin: 0 0 20px;
	}

	.tribe-event-duration {
		font-size: 0.923em;
	}

}