/*------------------------------------------------------------------
[Attachment Page]
-------------------------------------------------------------------*/
#attachment-post-media img {
	vertical-align: bottom;
}

#attachment-post-content {
	padding-top: 20px;
}

#attachment-post-footer {

	p {
		margin: 0;
	}

}
