/*------------------------------------------------------------------
[# 404 Error Page]
-------------------------------------------------------------------*/
.error404-content {
	text-align: center;
	margin: 50px 0;
	font-size: 1.077em;

	h1 {
		font-size: 3em;
		margin: 0 0 10px;
	}

}