/*------------------------------------------------------------------
[# Heading Control]
-------------------------------------------------------------------*/
.wpex-customizer-heading {
    display: block;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 13px;
    font-weight: normal;
    background: #0085ba;
    margin: 12px -12px 0;
    color: #fff;
	text-shadow: 1px 1px 1px rgba( 0 ,0, 0, 0.2 );
}
