/*--------------------------------------------------------------
# VC > Max Widths
--------------------------------------------------------------*/
.vc-max-width-10 {
	margin: 0 45%;
}

.vc-max-width-20 {
	margin: 0 40%;
}

.vc-max-width-30 {
	margin: 0 35%;
}

.vc-max-width-40 {
	margin: 0 30%;
}

.vc-max-width-50 {
	margin: 0 25%;
}

.vc-max-width-60 {
	margin: 0 20%;
}

.vc-max-width-70 {
	margin: 0 15%;
}

.vc-max-width-80 {
	margin: 0 10%;
}
