/*--------------------------------------------------------------
# VC > Text Block
--------------------------------------------------------------*/
.wpb_text_column {
	max-width: 100%;
	margin: 0 auto;
	&.has-custom-color {
		h2, h3, h4, h5, h6, p {
			color: inherit; // make sure typography settings work correctly
		}
	}
}
