/*------------------------------------------------------------------
[Search Results]
-------------------------------------------------------------------*/

// @version 4.6

#search-no-results { 
    font-size: 1.231em;
    margin-bottom: 20px;
}

.search-entry {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $borders__color-light;
}

.search-entry-header-title {
    font-size: 1.313em;
    margin: 0 0 10px;
}

.search-entry-text {
    overflow: hidden;
    p:last-child {
        margin: 0
    }
}

.search-entry-thumb {
    float: left;
    width: 100px;
    margin-right: 25px;
}
