/*!
 Project   : Total WordPress Theme
 Purpose   : Visual Composer Extension CSS
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com
 Version   : 4.5.4
 */

// Helpers
@import "../load-helpers";

// General
.vcex-function-needed {
	background: red;
	color: #fff;
	text-align: center;
	font-size: 1.2em;
	padding: 20px;
}

.vcex-icon-wrap {
	display: inline;
	display: inline-block;
	text-align: center;
	position: relative;
	transition: transform 0.2s ease-in-out;
}

.vcex-icon-wrap.left,
.vcex-icon-position-left {
	margin-right: 0.769em;
}

.vcex-icon-wrap.right,
.vcex-icon-position-right {
	margin-left: 0.769em;
}

.vcex-isotope-grid {
	overflow: hidden;
}

.vcex-readmore {
	font-size: 0.923em;
}

.vcex-comments .comments-title {
	display: none;
}

.vcex-image-inner {
	display: inline-block;
	img {
		width: 100%; // IE 11 FIX
		vertical-align: bottom;
	}
}

// Module Styles
@import "vcex/spacing";
@import "vcex/image";
@import "vcex/heading";
@import "vcex/bullets";
@import "vcex/leader";
@import "vcex/divider";
@import "vcex/divider-dots";
@import "vcex/divider-multicolor";
@import "vcex/button";
@import "vcex/multi-buttons";
@import "vcex/countdown";
@import "vcex/list-item";
@import "vcex/icon";
@import "vcex/icon-box";
@import "vcex/post-terms";
@import "vcex/pricing";
@import "vcex/skillbar";
@import "vcex/login-form";
@import "vcex/newsletter";
@import "vcex/search-bar";
@import "vcex/recent-news";
@import "vcex/teaser";
@import "vcex/milestone";
@import "vcex/image-swap";
@import "vcex/navbar";
@import "vcex/feature-box";
@import "vcex/social-links";
@import "vcex/terms-grid";
@import "vcex/users-grid";
@import "vcex/breadcrumbs";
@import "vcex/animated-text";
@import "vcex/image-ba";
@import "vcex/image-banner";
@import "vcex/form-shortcode";
@import "vcex/callout";
@import "vcex/next-prev";

@import "vcex/post-types-slider";
@import "vcex/testimonials-slider";

@import "vcex/post-types-grid";
@import "vcex/blog-grid";
@import "vcex/image-grid";

@import "vcex/filter-buttons";
