/*!
 Project   : Total WordPress Theme
 Purpose   : WooCommerce Styles
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com
 Notes     : Un-compressed SASS files available
 */

// Helpers
@import "../load-helpers";

// Woo Variables
$woo__price-color: #8db830;
$woo__del-opacity: 0.5;

@import "woocommerce/clear-floats";
@import "woocommerce/buttons";
@import "woocommerce/borders";
@import "woocommerce/notices";
@import "woocommerce/star-ratings";
@import "woocommerce/quantity-buttons";
@import "woocommerce/shop";
@import "woocommerce/pagination";
@import "woocommerce/onsale-badge";
@import "woocommerce/product-entry";
@import "woocommerce/product-single";
@import "woocommerce/categories";
@import "woocommerce/widgets";
@import "woocommerce/cart";
@import "woocommerce/checkout";
@import "woocommerce/order-received";
@import "woocommerce/account";
@import "woocommerce/store-notice";

@import "woocommerce/header-menu-cart-link";
@import "woocommerce/header-cart-dropdown";
@import "woocommerce/header-cart-overlay";

@import "woocommerce/overlays";

@import "woocommerce/accents";

@import "woocommerce/vendor/swatch-control";

@import "woocommerce/hidden";

@import "woocommerce/font-awesome-icons";

.wpex-carousel-woocommerce {
	text-align: center;
}