/*!
 Project   : Total WordPress Theme
 Purpose   : WooCommerce Responsive Styles
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com
 Notes     : Un-compressed SASS files available
 */

// Helpers
@import "../load-helpers";

/*------------------------------------------------------------------
[Phone Portrait & Landscape] - Must use 768 here due to WooCommerce CSS
-------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {

	.woocommerce .woocommerce-ordering .orderby,
	.woocommerce .woocommerce-ordering .orderby span {
		width: 100% !important;
	}

	/*cart plus/minus*/
	body.woocommerce-cart .quantity.buttons_added .plus,
	body.woocommerce-cart .quantity.buttons_added .minus {
	    display: none;
	}

	body.woocommerce-cart .quantity.buttons_added .qty {
	    border-right: 0;
	}

	/*cart collaterals*/
	.woocommerce .cart-collaterals .cross-sells {
	    width: 100%;
	}

	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals {
	    float: none;
	    width: 100%;
	}

	.woocommerce-cart .cart-collaterals .cart_totals table td {
	    text-align: right
	}

	/*cart trim down table*/
	.shop_table th.product-price,
	.shop_table .product-thumbnail,
	.woocommerce-page table.shop_table td.product-price {
	    display: none !important
	}

	/*checkout coupon*/
	.woocommerce form.checkout_coupon {
	    margin-top: -10px
	}

	.woocommerce form.checkout_coupon .form-row-first,
	.woocommerce form.checkout_coupon .form-row-last {
	    float: none;
	    width: 100%;
	}

	/*checkout payment*/
	.woocommerce table.shop_table.woocommerce-checkout-review-order-table,
	.woocommerce-checkout-payment {
	    width: 100%;
	    float: none;
	}

	/*order details*/
	.woocommerce ul.order_details li {
	    float: none;
	    width: 100%;
	    margin-bottom: 10px;
	    padding-bottom: 10px;
	    border: 0;
	    border-bottom: 1px solid #eee;
	}

	.woocommerce .order_details li:last-of-type {
	    padding: 0;
	    margin: 0;
	}

	/*order addresses*/
	.woocommerce .col2-set.addresses .col-1,
	.woocommerce .col2-set.addresses .col-2 {
	    float: none;
	    width: 100%;
	    margin-bottom: 20px;
	}

	/*remove widths and clear floats*/
	.woocommerce .woocommerce-checkout .col2-set .col-1,
	.woocommerce .woocommerce-checkout .col2-set .col-2 {
	    float: none;
	    width: 100%;
	}
	.woocommerce .woocommerce-checkout .col2-set .col-1 {
	    margin-bottom: 20px
	}

	/*column sets*/
	.woocommerce .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-1,
	.woocommerce-page .col2-set .col-2 {
	    float: none;
	    width: 100%;
	}

	/*other from smallscreens.css*/
	.woocommerce #payment .terms,
	.woocommerce-page #payment .terms {
	    text-align: left;
	    padding: 0;
	}

	.woocommerce #payment #place_order,
	.woocommerce-page #payment #place_order {
	    float: none;
	    width: 100%;
	    box-sizing: border-box;
	    margin-bottom: 1em;
	}

	.woocommerce .lost_reset_password .form-row-first,
	.woocommerce .lost_reset_password .form-row-last,
	.woocommerce-page .lost_reset_password .form-row-first,
	.woocommerce-page .lost_reset_password .form-row-last {
	    width: 100%;
	    float: none;
	    margin-right: 0;
	}

	/* Account page */
	.content-full-width .woocommerce-MyAccount-navigation,
	.content-full-width .woocommerce-MyAccount-content {
		float: none;
		width: 100%;
	}

}

/*------------------------------------------------------------------
[Reset woo product columns]
-------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

	/*remove widths and clear floats*/
	.woocommerce #content div.product div.images,
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.images,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.images,
	.woocommerce-page div.product div.summary {
	    float: none;
	    width: 100%;
	}

	/* Product > Disable Tabs => Show always */
	body.woo-single-responsive-tabs.woocommerce  {

		.product .woocommerce-tabs {
			padding-top: 0;
		}

		.product .woocommerce-tabs ul.tabs {
		    display: none;
		}

		.product .product_meta,
		.product .woocommerce-tabs .panel {
		    display: block !important;
		    margin: 0 0 40px;
		}

	}

	/* Product > Images */
	.woocommerce div.product div.images {
	    margin-bottom: 30px;
	}

}

/*------------------------------------------------------------------
[Phones]
-------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
	
	/* Coupons */
	.woocommerce-cart table.cart td.actions {

		.coupon {
			float: none;
			width: 100%;
		}

		.coupon .input-text,
		.coupon .button,
		input[name="update_cart"] {
			width: 100%;
			margin: 0 0 5px;

		}

	}

	/* Shop > Sort and Order */
	.woocommerce .woocommerce-result-count,
	.woocommerce .woocommerce-ordering {
	    float: none;
	}

	.woocommerce .woocommerce-result-count {
		margin: 0 0 12px;
	}

	/* Account */
	.has-sidebar .woocommerce-MyAccount-navigation {

		ul {
			float: none;
		}

		li {
			float: none;
			border: 0;
			border-bottom: 1px solid $borders__color-light;
			&:first-child {
				a {
        			@include border-radius( 3px 3px 0 0 );
				}
			}
			&:last-child {
				border: 0;
				a {
					@include border-radius( 0 0 3px 3px );
				}
			}
			a {
				padding: .75em 1em;
			}
		}

	}

}
