/*------------------------------------------------------------------
[Checkout] @version 4.5.5
-------------------------------------------------------------------*/
.woocommerce .woocommerce-checkout {
    padding-top: 20px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea  {
    line-height: 1.65; // Line height fix - Woo sets it to 1
}

/* Checkout > Login/Register/Coupon forms */
.woocommerce form.checkout_coupon {
    border: 0;
    padding: 0;
    margin: 0 0 30px;
}

.woocommerce form.login,
.woocommerce form.register {
    border: 1px solid $borders__color-light;
    margin: 20px 0;
    padding: 20px;
}

/* Checkout > Coupon Code */
.woocommerce form.checkout_coupon .form-row-first {
    width: 68%;
    float: left;
}

.woocommerce form.checkout_coupon .form-row-last {
    width: 30%;
    float: right;
}

.woocommerce form.checkout_coupon input {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 45px;
    @include border-radius( 0 );
    &.button {
        line-height: 40px;
    }
}

.woocommerce form .form-row .required {
    text-decoration: none;
}

.woocommerce form.checkout_coupon p {
    margin: 0;
}

/* Checkout > Button */
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    font-size: pem( 14 );
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

/* Checkout > Columns */
.woocommerce .woocommerce-checkout .col2-set .col-1 {
    float: left;
    width: 48%;
}

.woocommerce .woocommerce-checkout .col2-set .col-2 {
    float: right;
    width: 48%;
}

/* Checkout > Addresses */
.woocommerce .woocommerce-checkout #customer_details h3 {
    margin: 0 0 20px;
    font-size: pem( 16 );
}

.woocommerce .woocommerce-checkout #customer_details p.form-row label {
    margin: 0 0 5px;
    display: block;
}

.woocommerce .woocommerce-checkout #customer_details p.form-row label.checkbox {
    display: inline;
    display: inline-block;
}

/* Double columns for some fields */
@media (min-width: 768px) {
    .woocommerce-checkout .woocommerce-billing-fields .form-row-first {
        width: 49%;
        float: left;
    }
    .woocommerce-checkout .woocommerce-billing-fields .form-row-last {
        width: 49%;
        float: right;
    }
}

/* Checkout > Your Order */
.woocommerce table.shop_table.woocommerce-checkout-review-order-table {
    float: left;
    width: 48%;
}

.woocommerce-checkout-payment {
    float: right;
    width: 48%;
}

.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    font-weight: 600;
    color: #444;
    border-color: $borders__color-light;
}

.woocommerce table.shop_table tfoot td {
    font-weight: normal;
}

.woocommerce-checkout-review-order-table tfoot th {
    border-right: 1px solid $borders__color-light;
    background: $background__light-gray;
}

.woocommerce-checkout #payment {
    border: 1px solid $borders__color-light;
    background: $background__light-gray;
    border-radius: 0;
}

.woocommerce-checkout #payment div.payment_box {
    background: #fff;
}

.woocommerce-checkout #payment div.payment_box:before {
    display: none;
}

.woocommerce-checkout #payment div.payment_box:after {
    border-bottom-color: #fff
}

.woocommerce-checkout #place_order {
    width: 100%;
    font-size: 1.077em;
    padding: 0.9em;
}

.woocommerce-checkout .form-row.place-order {
    margin: 0;
}

/* Checkout > Returning Customer Form */
.woocommerce form.login .lost_password {
    margin: 0;
}

.woocommerce-checkout form.login label.inline {
    padding-left: 10px;
}

/* Checkout > Payment Methods */
#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
    line-height: normal;
    text-align: left;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}
