/*------------------------------------------------------------------
[Clear Floats]
-------------------------------------------------------------------*/
.col2-set:after,
.woocommerce-MyAccount-navigation ul:after,
.woocommerce-checkout:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	zoom: 1;
}
