/*------------------------------------------------------------------
[Header Cart]
-------------------------------------------------------------------*/
.wcmenucart:after {
    display: none !important;
}

.wcmenucart .fa {
    margin: 0 !important;
}

.wcmenucart-details {
    margin-left: 8px;
}

.wcmenucart .amount {
    color: inherit;
}

.wcmenucart-details.count {
    display: inline-block;
    position: relative;
    top: -6px;
}

.header-two .wcmenucart-count .wcmenucart-details {
    top: 0;
}

body a.wcmenucart.wcmenucart-empty-cart .fa {
    margin-right: 0;
}

.wcmenucart-text {
    display: none;
}

// Vertical menu fixes
@media only screen and (min-width: 960px) { 
	body.wpex-has-vertical-header .wcmenucart-text {
	    display: inline-block;
	    padding-left: 20px;
	}

	body.wpex-has-vertical-header .wcmenucart-count .wcmenucart-details {
	    top: 0
	}
}
