/*------------------------------------------------------------------
[Overlays]
-------------------------------------------------------------------*/
.overlay-title-price-hover {
    background: #000;
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    @include transition( all .25s ease-in-out );

    .overlay-table-cell {
        padding: 20px;
         @include transition( all 0.15s linear );
        @include transform( scale(1.3) );
    }

    .overlay-title {
        font-size: 1.231em;
        font-weight: 600;
    }

    .overlay-price {
        font-style: italic;
        font-weight: 400;
        color: #bbb;
    }

}

.overlay-title-price-hover:hover .overlay-table-cell,
.overlay-parent.wpex-touched .overlay-title-price-hover .overlay-table-cell {
    @include transform( none );
}
