/*------------------------------------------------------------------
[Single Product]
-------------------------------------------------------------------*/

/* Single > Title */
.woocommerce div.product .product_title {
    margin: 0;
}

/* Single > Images */
.woocommerce div.product div.images {
    float: left;
    width: 52%;

    .flex-viewport {
        direction: ltr; // RTL fixes for gallery
    }

    &:hover .flex-direction-nav a {
        opacity: 1;
    }

    .flex-direction-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 2;
        height: 0;

        a {
            position: absolute;
            z-index: 99;
            display: block;
            width: 34px;
            height: 60px;
            line-height: 60px;
            top: 50%;
            margin-top: -30px;
            font-family: "FontAwesome";
            color: #fff;
            text-align: center;
            font-size: 21px;
            background: #000;
            background: rgba(0,0,0,.3);
            text-indent: -9999px;
            opacity: 0;
            @include transition( $transition__speed );

            &:hover {
                background: rgba(0,0,0,.65);
            }

            &:before {
                top: 0;
                display: block;
                position: absolute;
                background: none;
                height: 100%;
                width: 100%;
                text-indent: 0;
            }

            &.flex-prev {
                left: 0;
                &:before {
                    content: "\f104";
                }
            }

            &.flex-next {
                right: 0;
                &:before {
                    content: "\f105";
                }
            }

            &.flex-disabled {
                display: none !important;
            }

        }


    }

}

/* Single > Variation Thumbs */
.product-variation-thumbs,
.woocommerce div.product div.images .flex-control-thumbs {
    padding-top: 4px;
    margin: 0 -4px;
}

.product-variation-thumbs a,
.woocommerce div.product div.images .flex-control-thumbs li {
    display: block;
    float: left;
    cursor: pointer;
    height: auto;
    width: 20%;
    padding: 4px;
    margin: 0;
    @include disable-user-select;
}

body.rtl .product-variation-thumbs a,
body.rtl.woocommerce div.product div.images .flex-control-thumbs li {
    float: right;
}

// Thumbs when slider is disabled
.woocommerce div.product div.images > .woocommerce-product-gallery__wrapper > .woocommerce-product-gallery__image:nth-child(n+2) {
    display: block;
    float: left;
    cursor: pointer;
    height: auto;
    width: 20%;
    padding: 8px;
    margin: 0;
    @include disable-user-select;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
    @include box-shadow-fix();
}

.woocommerce div.product div.images div.thumbnails {
    padding: 0;
}

/* Single > Summary */
.woocommerce div.product div.summary {
    float: right;
    width: 44%;
    margin-bottom: 2em;

    .price {
        font-size: pem( 18 );
        margin: 0;
    }

    ins,
    del {
        display: inline;
    }

    ins {
        text-decoration: none;
    }

    del {
        color: #666;
        font-size: 0.76em;
        margin-right: 5px;
        font-style: italic;
    }

}

/* Single > Price */
.woocommerce div.product form.cart {
    padding: 20px 0;
    margin: 0;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
    font-weight: normal;
}

/* Single > Rating */
.woocommerce div.product .woocommerce-product-rating {
    margin: 10px 0 0 0;
    line-height: 1em;
    font-size: 13px;

    .star-rating {
        margin: 0 5px 0 0;
    }

    a {
       // color: inherit;
    }

    .wpex-avg-rating {
        font-weight: 600;
        display: inline-block;
        margin-right: 2px;
    }

}

/* Single > Description */
.woocommerce-product-details__short-description {
    padding-top: 20px;
}

.woocommerce div.product p.stock {
    color: red;
    font-weight: 600;
    padding-top: 10px;
}

/* Single > Cart Button */
.woocommerce div.product div.summary .single_add_to_cart_button {
    text-transform: uppercase;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    letter-spacing: 0.5px;
    font-size: 0.923em;
}

/* Single > Quantity */
.woocommerce div.product form.cart div.quantity {
    float: left;
    margin-right: 20px;
}

.woocommerce div.product form.cart .quantity input[type=number],
.woocommerce div.product form.cart div.quantity .minus,
.woocommerce div.product form.cart div.quantity .plus,
.woocommerce div.product form.cart div.quantity .qty {
    height: 36px;
    line-height: 36px;
    width: 34px;
    -moz-appearance: textfield;
}

/* Single > Variations */
.woocommerce div.product form.cart {

    .variations {

        label {
            color: $headings__color-light;
            font-weight: $headings__font-weight;
            text-transform: capitalize;
        }

        td,
        th {
            vertical-align: middle;
        }
        
        td.label {
            padding: 0 0 10px;
            width: 20%;
        }

        td.value {
            padding: 0 0 10px;
        }

        select {
            width: 100%;
            margin: 0;
            min-width: auto !important;
        }

        .theme-select {
            width: 100%;
        }

        .reset_variations {
            display: block;
            float: right;
            text-decoration: none;
            font-size: pem( 12 );

            &:hover {
                text-decoration: underline;
            }

        }

    }

    .variations_button {
        clear: both;
        display: block;
        padding: 20px 0;
    }

    .woocommerce-variation-description p {
        margin: 0;
    }

}

/* Single > Meta */
.product_meta {
    clear: both;
    padding-top: 20px;
    color: #787878;
}

.product_meta span {
    display: block;
}

.sku_wrapper,
.product_meta .posted_in,
.product_meta .tagged_as {
    font-weight: $headings__font-weight;
    color: $headings__color-light;
}

.sku_wrapper span {
    display: inline;
    font-weight: 400;
    color: #555;
}

.product_meta .posted_in a,
.product_meta .tagged_as a {
    font-weight: 400;
    font-style: italic;
}

.product_meta span.sku {
    display: inline;
}

/* Single > Tabs */
.woocommerce div.product .woocommerce-tabs {
    padding-top: 20px;
    clear: both;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    border-bottom: 1px solid #e4e4e4;
    height: 41px;
    overflow: visible;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 0;
    margin: 0 20px 0 0;
    border: none;
    border-radius: 0;
    padding: 0;
    background: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    color: #777;
    font-weight: normal;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    text-decoration: none;
    color: #333;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #000;
    font-weight: 600;
    position: relative;
    margin-bottom: -1px;
    border-bottom: 2px solid transparent;
}

.woocommerce div.product .woocommerce-tabs .panel {
    display: none;
    margin: 0 0 40px;
    padding: 0;
}

.woocommerce div.product .woocommerce-tabs #tab-description {
    display: block;
}

.woocommerce div.product .woocommerce-tabs .panel .panel h2 {
    margin: 20px 0;
}

/* Single > Additional Info */
.woocommerce table.shop_attributes th {
    color: #000;
    font-weight: 600;
}

.woocommerce table.shop_attributes,
.woocommerce table.shop_attributes td,
.woocommerce table.shop_attributes th {
	border-style: solid;
	border-color: $borders__color;
}

/* Single > Social Share */
.woocommerce.single-product .social-share-title.theme-heading {
    font-size: 1.313em
}

.woocommerce.single-product .social-share-title.theme-heading span.text:after {
    display: none;
}

/* Single > Comments */
.woocommerce #reviews .comment-reply-title {
    font-size: 1.231em;
    font-weight: $headings__font-weight;
    color: $headings__color;
    margin: 0 0 20px;
}

#reviews #commentform label {
    margin: 0 0 10px;
}

.woocommerce #review_form #respond {

    label {
        display: block;
        margin-bottom: 3px;
        color: $headings__color-light;
    }

    p {
        padding: 0;
        margin: 0 0 15px;
    }

    .comment-form-author {
        width: 49%;
        float: left;
    }

    .comment-form-email {
        width: 49%;
        float: right;
    }

    .comment-form-rating {
        clear: both;
        margin-bottom: 5px;

        .stars {
            margin: 0;
        }

    }

}

#reviews .comment-form-author input,
#reviews .comment-form-email input {
    width: 100%;
}

.woocommerce #reviews #commentform p.stars a {
    border-color: #ddd;
}

/* Single > Comments > Entries */
.woocommerce #reviews #comments ol.commentlist {
    margin: 25px 0 -25px;
    position: relative;
}

.woocommerce #reviews #comments ol.commentlist li {
    border-bottom: 1px solid $borders__color-light;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.woocommerce #reviews #comments ol.commentlist li .description p:last-child {
    margin: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border: none;
    padding: 0;
    margin: 0 0 0 80px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    border: 1px solid #e4e4e4;
    padding: 3px;
    background: none;
    width: 54px;
    height: 54px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 1em;
    margin-bottom: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {
    font-size: 1.077em;
    font-weight: 600;
    color: #000;
}

/* Single > Related Products */
.woocommerce .related.products {
    margin-bottom: 20px;
}
