/*------------------------------------------------------------------
[Animated Text]
-------------------------------------------------------------------*/
.vcex-typed-text-wrap {
    min-height: 1em;
    line-height: 1em;
    font-size: pem( 18 );
    font-weight: $headings__font-weight;
    color: $headings__color;
    margin: 0;
    .vcex-ph {
    	visibility: hidden;
    	width: 1px;
    	display: inline-block;
    }
}
.vcex-typed-text-css {
    display: inline-block; // Prevent bouncing
    max-width: 100%;
}
