/*------------------------------------------------------------------
[Divider Multicolor]
-------------------------------------------------------------------*/
.vcex-divider-multicolor {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
    
    span {
        display: block;
        float: left;
        height: 8px;
    }

}
