/*------------------------------------------------------------------
[Post terms]
-------------------------------------------------------------------*/
.vcex-post-terms .theme-button { margin-right: 5px; margin-bottom: 5px; }
.vcex-post-terms .theme-button.align-left { margin-right: 5px; }
.vcex-post-terms .teme-button.align-left:last-child { margin-right: 0 }
.vcex-post-terms .theme-button.align-right { margin-left: 5px; }
.vcex-post-terms .teme-button.align-right:last-child { margin-left: 0 }
.vcex-post-terms .theme-txt-link { margin-right: 5px; }
.vcex-post-terms.textcenter .theme-button { margin-left: 2.5px; margin-right: 2.5px; }
.vcex-post-terms span { cursor: default; }
