/*------------------------------------------------------------------
[Search Bar]
-------------------------------------------------------------------*/
.vcex-searchbar { font-size: 1.231em; position: relative; max-width: 100%; }
.vcex-searchbar-input { float: left; width: 70%; }
.vcex-searchbar-button { position: absolute; top: 0; right: 0; width: 28%; height: 100%; line-height: 100%; padding-top: 0; padding-bottom: 0; }
.vcex-searchbar-input[type="search"] { font-size: inherit; color: inherit; text-transform: inherit; letter-spacing: inherit; font-weight: inherit; padding: 0.8em; }
.vcex-searchbar-input:-webkit-autofill { -webkit-box-shadow: none }

@media only screen and (max-width: 767px) {
	.vcex-searchbar.vcex-fullwidth-mobile .vcex-searchbar-input { width: 100% !important; float: none; margin-bottom: 10px; }
	.vcex-searchbar.vcex-fullwidth-mobile .vcex-searchbar-button { position: static; width: 100% !important; height: auto; padding-top: 15px; padding-bottom: 15px; }
}
