/*------------------------------------------------------------------
[Users Grid]
-------------------------------------------------------------------*/
.vcex-users-grid-entry .entry-title {
	padding-top: 15px;
}

.vcex-users-grid-entry .entry-social-links {
    padding-top: 5px;

	a {
		margin-right: 4px;
		margin-top: 4px;
	}

}
