/*------------------------------------------------------------------
[Header Style Two]
-------------------------------------------------------------------*/
.header-two {
    background: #fff
}

.header-two-aside {
    float: right;
    font-size: 1.077em;
    text-align: right;
}

// Logo
.header-two-logo {
    float: left
}

// Search
#header-two-search {
    margin-top: 10px;
    float: right;

    input[type="search"] {
        font-size: 0.923em;
        width: 160px;
        float: left;
        height: 34px;
        line-height: normal;
        padding: 0 10px;
        border: 1px solid $borders__color;   // Re-add color to prevent issues with Customizer inputs settings
        background: $background__light-gray;
    }

    #header-two-search-submit {
        font-size: 12px;
        height: 34px;
        line-height: 34px;
        width: 35px;
        text-align: center;
        padding: 0;
        outline: none;
        margin-left: 5px;
        cursor: pointer;
        border-radius: 0;
    }

    .woocommerce-product-search input[type="submit"] {
        height: 34px;
        width: auto;
        margin-left: 7px;
    }

}

// Menu
.navbar-style-two {
    background: #fff; // Used for sticky menu
	border-top: 1px solid $borders__color-light;

     body.page-header-disabled & {
        border-bottom: 1px solid $borders__color-light
     }

    .dropdown-menu {
        width: 100%;
        border-left: 1px solid $borders__color-light;
        border-right: 1px solid $borders__color-light;

        a {
            @include transition( all 0.15s ease );
        }

        li {
            border-right: 1px solid $borders__color-light;

            li {
                border-right: 0; // Remove extra border from dropdowns
            }

        }

        > li > a {
            display: block;
            height: $main-menu__height;
            line-height: $main-menu__height;
            color: $main-menu__link-color;
            font-weight: normal;
            padding: 0 20px;
        }

        .search-toggle-li,
        .woo-menu-icon {
            float: right;
            border-left: 1px solid $borders__color-light;;
            border-right: 0;
        }

    }

    // Center items
    &.center-items {
        text-align: center;

        .dropdown-menu > ul {
            text-align: left;
            border-left: 0;
            border-right: 0;
        }

        .dropdown-menu > li:first-child {
            border-left: 1px solid $borders__color-light;
        }
        
        .dropdown-menu > li,
        .dropdown-menu .woo-menu-icon,
        .dropdown-menu .search-toggle-li {
            display: inline-block;
            float: none;
            border-left: 0;
            border-right: 1px solid $borders__color-light;
        }

    }

        // No borders
    &.no-borders {

        .dropdown-menu,
        .dropdown-menu li {
            border: 0 !important;
        }

        li ul {
            text-align: left;
        }

    }

}
