/*------------------------------------------------------------------
[Header Style Six]
-------------------------------------------------------------------*/

// Under Construction

.header-seven {
	text-align: center;
	color: #000;
}

.navbar-style-seven {

	font-size: 13px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;

	a {
		display: block;
		padding: 10px 0;
		color: inherit;
		&:hover {
			color: $accent__main;
		}
	}

	.wpex-menu-search-text {
		display: inline-block;
		margin-right: 10px;
	}

}

@media only screen and ( min-width: 960px ) {
	
	.header-seven {

		#site-header-inner {
			padding: 80px 0;
		}

		#site-logo {
			padding: 0 0 50px;
		}

	}

}