/*------------------------------------------------------------------
[Author Bio]
-------------------------------------------------------------------*/
.author-bio {
    position: relative;
    margin: 0 0 40px;
    background: $background__light-gray;
    border: 1px solid $borders__color-light;
    padding: 25px 25px 25px 125px;
    min-height: 94px;

    &.no-avatar {
        padding-left: 25px;
    }
    
}

.author-bio-avatar {
    position: absolute;
    top: 20px;
    left: 20px;

    img {
        display: block;
        height: 74px;
        width: 74px;
        @include border-radius( 74px );
    }

}

.author-bio-title {
    font-size: pem( 16px );
    margin: 0 0 10px;
}

.author-bio-description p:last-child {
    margin: 0
}

.author-bio-social {
    margin-top: 15px;

    a {
        display: block;
        float: left;
        margin-right: 4px;
    }

}
