/*------------------------------------------------------------------
[Post Meta]
-------------------------------------------------------------------*/
.meta,
.entry .meta {
    list-style: none;
    margin: 0 0 10px;
    font-size: 0.923em;
    color: #777;

    li {
        float: left;
        margin: 0 20px 5px 0;

        &:last-child {
            margin-right: 0;
        }

        .fa {
            margin-right: 8px;
        }

        .meta-icon {
            margin-right: pem( 8px );
        }

    }

    a {
        color: #777;
        text-decoration: none;

        &:hover {
            color: #000;
            text-decoration: none;
        }

    }

    time {
        display: inline;
    }

}
