/*------------------------------------------------------------------
[Scroll Top]
-------------------------------------------------------------------*/
#site-scroll-top {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: #999;
    height: 35px;
    line-height: 35px;
    width: 35px;
    font-size: 16px;
    background: $background__light-gray;
    border: 3px solid #fff;
    text-align: center;
    z-index: 998;
    visibility: hidden;
    @include opacity( 0 );
	@include border-radius( 50% );
    @include transition( all 0.25s ease-in-out );
    @include box-sizing( content-box );
}

#site-scroll-top:hover {
    border-color: transparent;
    text-decoration: none;
    color: #fff;
}

#site-scroll-top.show {
	visibility: visible;
	@include opacity( 1 );
}
