<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Event Calendar Newsletter Test Suite">
            <directory>./tests/</directory>
            <directory>../event-calendar-newsletter-pro/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>