/*------------------------------------------------------------------
[Header Global Styles]
-------------------------------------------------------------------*/
#site-header {
	padding: 0 !important; // no padding should be added here, add to header-inner please!
	position: relative;

	&.wpex-header-two-flex-v #site-header-inner {
		display: flex;
    	align-items: center;
	
		#header-aside {
			margin-left: auto;
			order: 2;
		}

	}

}

#site-header-inner {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 100%;
}

#site-navigation.container {
	position: relative; // IMPORTANT
}

#site-header.header-builder {
	z-index: 10; // prevent conflicts with VC rows and dropdowns from 3rd party menu plugins
	#site-header-inner {
		padding: 0; // Reset padding so it can be added with the Visual Composer
	}
}